# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
*.log

# Next.js build files
out/
.vercel/
dist/
build/
.next/
.next/**
.next/server/*.json

# Ignorar la carpeta .next (archivos generados por Next.js)
.next/
.next/**

# Ignorar archivos específicos generados dentro de .next
.next/server/*.json
.next/server/*.js
.next/static/
.next/trace

# Next.js specific files
*.map
*.next/
*.trace
.next/trace
.next/server/app-paths-manifest.json
.next/server/next-font-manifest.json
.next/server/middleware-manifest.json
.next/server/react-loadable-manifest.json
.next/server/routes-manifest.json
.next/server/build-manifest.json
.next/server/server.js.nft.json
.next/server/server.js
.next/server/server.js.map

# Tailwind CSS build artifacts
*.css.map

# Next.js environment variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Build artifacts
coverage/
*.lock

# Editor & OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# TypeScript build files
*.tsbuildinfo

# Redux Persist storage (if using local storage persistence)
reduxPersist/

# MongoDB, SQLite, MySQL, PostgreSQL
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.db
*.db-journal
dump.rdb
.dynamodb/

# Logs & Debug
logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
debug.log